/* style sheet for TOB_foundations_02-class-id-selectors  */

.odd-element {
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second-element {
    color: blue;
    font-size: 36px;
}

.third-element {
    font-size: 24px;
}

#fourth-element {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}